force-app/main/default/flows/Add_Child_object_to_Config.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_LWC_UI_Support</name>
        <label>Assign LWC UI Support</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>uiApiNotSupported</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Object_Theme_Color</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FilterCriteriaChoice_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>FilterCriteriaChoice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Provider_Type</name>
        <label>Check Provider Type</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apex_class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_dataProviderType2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apex class</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Data_provider_Apex_Class</targetReference>
            </connector>
            <label>Apex class</label>
        </rules>
        <rules>
            <name>Related_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_dataProviderType2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Related Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_2_Select_Related_Object</targetReference>
            </connector>
            <label>Related Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Apex_Class_Valid</name>
        <label>Is Apex Class Valid</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apex_Class_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexClassVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LWC_UI_Support</targetReference>
            </connector>
            <label>Apex Class Valid</label>
        </rules>
        <rules>
            <name>Apex_Class_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexClassVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Data_provider_Apex_Class</targetReference>
            </connector>
            <label>Apex Class Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SOQL_Verified</name>
        <label>Is SOQL Verified</label>
        <locationX>336</locationX>
        <locationY>1910</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Soql_Verified_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSOQLVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_7_Confirmation</targetReference>
            </connector>
            <label>Soql Verified yes</label>
        </rules>
        <rules>
            <name>Soql_Verified_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSOQLVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Filter_Criteria_Details</targetReference>
            </connector>
            <label>Soql Verified No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_to_adding_criteria</name>
        <label>Proceed to adding criteria?</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_filter_criteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Filter_Criteria_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_filter_criteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigation_Behaviour</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>A wizard driven flow to add child object to a timeline configuration.</description>
    <dynamicChoiceSets>
        <name>DataProviderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Data_Provider_Type__c</picklistField>
        <picklistObject>Timeline_Child_Object__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Navigation behaviour when clicking on the timeline item title.</description>
        <name>NavigationBehaviour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Title_link_Navigate_to__c</picklistField>
        <picklistObject>Timeline_Child_Object__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add Child object to Config {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Child object to Config</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Timeline_Child_Object</name>
        <label>Create Timeline Child Object</label>
        <locationX>710</locationX>
        <locationY>2462</locationY>
        <assignRecordIdToReference>var_childConfigId</assignRecordIdToReference>
        <connector>
            <targetReference>Step_7_Confirm_record_creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Step_7_Record_creation_failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Data_Provider_Type__c</field>
            <value>
                <elementReference>DataProviderType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Field__c</field>
            <value>
                <elementReference>var_dateField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Key__c</field>
            <value>
                <elementReference>var_externalKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fields_to_Display__c</field>
            <value>
                <elementReference>var_fieldsToDisplay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filter_Criteria_Config__c</field>
            <value>
                <elementReference>var_FilterJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon_Image_Url__c</field>
            <value>
                <elementReference>var_iconImageUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon_Name__c</field>
            <value>
                <elementReference>var_iconName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LWC_Ui_Api_Not_Supported__c</field>
            <value>
                <elementReference>uiApiNotSupported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Color__c</field>
            <value>
                <elementReference>var_objectColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>var_childObjectApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Apex_Classname__c</field>
            <value>
                <elementReference>selectedApexClass</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Field_Name__c</field>
            <value>
                <elementReference>var_parentRefFieldName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Name__c</field>
            <value>
                <elementReference>var_relationshipName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timeline_Configuration__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Field__c</field>
            <value>
                <elementReference>var_titleField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_link_Navigate_to__c</field>
            <value>
                <elementReference>var_NavigationBehaviour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_Clause__c</field>
            <value>
                <elementReference>var_SOQLWhere</elementReference>
            </value>
        </inputAssignments>
        <object>Timeline_Child_Object__c</object>
    </recordCreates>
    <screens>
        <name>Add_Filter_Criteria</name>
        <label>Add Filter Criteria</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed_to_adding_criteria</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_filter_criteria</name>
            <choiceReferences>FilterCriteriaChoice_Yes</choiceReferences>
            <choiceReferences>FilterCriteriaChoice_No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>FilterCriteriaChoice_No</defaultSelectedChoiceReference>
            <fieldText>Do you want to add filter criteria?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Filter_Criteria_Details</name>
        <label>Add Filter Criteria Details</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_SOQL_Verified</targetReference>
        </connector>
        <fields>
            <name>cmp_AddFilterCriteria</name>
            <extensionName>timeline:addFilterToChildObject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>var_objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentObjectRefName</name>
                <value>
                    <elementReference>var_parentRefFieldName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_IsSOQLVerified</assignToReference>
                <name>isSoqlVerified</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_FilterJson</assignToReference>
                <name>filterListJson</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_SOQLWhere</assignToReference>
                <name>whereClause</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select if the related record is being provided by an Apex class or a related record of the primary object.</description>
        <name>Is_Apex_or_Related_Record</name>
        <label>Is Apex or Related Record</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Provider_Type</targetReference>
        </connector>
        <fields>
            <name>var_dataProviderType2</name>
            <choiceReferences>DataProviderType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of child record?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;You can either display a related record or select an apex class that implements &lt;b&gt;timeline__IDataProvider&lt;/b&gt; interface.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigation_Behaviour</name>
        <label>Navigation Behaviour</label>
        <locationX>820</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_7_Confirmation</targetReference>
        </connector>
        <fields>
            <name>var_NavigationBehaviour</name>
            <choiceReferences>NavigationBehaviour</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When clicking on title where should the page navigate to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Data_provider_Apex_Class</name>
        <label>Select Data provider Apex Class</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Apex_Class</targetReference>
        </connector>
        <fields>
            <name>cmp_Select_Apex_Class</name>
            <extensionName>timeline:selectApexRecordProvider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedApexClass</assignToReference>
                <name>selectedApexClass</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Object_Theme_Color</name>
        <label>Select Object Theme Color</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_9_External_Key_Field</targetReference>
        </connector>
        <fields>
            <name>cmp_selectObjectColor</name>
            <extensionName>timeline:selectObjectThemeColor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_objectColor</assignToReference>
                <name>selectedColor</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Confirm_Object</name>
        <label>Step 1: Confirm Object</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Apex_or_Related_Record</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_1</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_get_object_name</name>
            <extensionName>timeline:getObjectNameFromConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_childObjectApiName</assignToReference>
                <name>objectApiName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2_Select_Related_Object</name>
        <label>Step 2: Select Related Object</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_3_Select_Title_Field</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_2</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_select_child</name>
            <extensionName>timeline:selectChildObject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_childObjectApiName</assignToReference>
                <name>childObjectApiName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_relationshipName</assignToReference>
                <name>relationshipName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_parentRefFieldName</assignToReference>
                <name>parentRefFieldName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_3_Select_Title_Field</name>
        <label>Step 3: Select Title Field</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_4_Select_Date_Field</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_3</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_title_field</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>var_iconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Title Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_titleField</assignToReference>
                <name>selectedFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uiApiNotSupported</assignToReference>
                <name>uiApiNotSupported</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_4_Select_Date_Field</name>
        <label>Step 4: Select Date Field</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_5_Select_Display_Fields</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_4</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_date_field</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Date Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_dateField</assignToReference>
                <name>selectedFields</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_5_Select_Display_Fields</name>
        <label>Step 5: Select Display Fields</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_9_External_Key_Field</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_5</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_display_fields</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Display Fields</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_fieldsToDisplay</assignToReference>
                <name>selectedFields</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_6_Icon_Selection</name>
        <label>Step 6: Icon Selection</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Filter_Criteria</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_6</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_icon_warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 4, 4);&quot;&gt;Selecting an icon  will override the default icon image for &lt;/span&gt;&lt;b style=&quot;color: rgb(247, 4, 4);&quot;&gt;{!var_childObjectApiName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lwc_icon_name</name>
            <extensionName>timeline:objectIconSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_iconName</assignToReference>
                <name>iconName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7_Confirm_record_creation</name>
        <label>Step 7: Confirm record creation</label>
        <locationX>710</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lwc_progress_8</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_confirmation</name>
            <fieldText>&lt;p&gt;Your&lt;a href=&quot;/{!var_childConfigId}&quot; target=&quot;_blank&quot;&gt; child record configuration &lt;/a&gt;has been created !!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7_Confirmation</name>
        <label>Step 7: Confirmation</label>
        <locationX>710</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Timeline_Child_Object</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_7</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_confirmation</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>var_iconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedApexClass</name>
                <value>
                    <elementReference>selectedApexClass</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>providerType</name>
                <value>
                    <elementReference>var_dataProviderType2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>externalKey</name>
                <value>
                    <elementReference>var_externalKey</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7_Record_creation_failed</name>
        <label>Step 7: Record creation failed</label>
        <locationX>1370</locationX>
        <locationY>2582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lwc_progress_7b</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_display_confirmation</name>
            <fieldText>&lt;p&gt;Something went wrong with creation the timeline child configuration:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_9_External_Key_Field</name>
        <label>Step 9: External Key Field</label>
        <locationX>710</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_6_Icon_Selection</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_9</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>9</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_external_key_field</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>External Key</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>var_iconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedApexClass</name>
                <value>
                    <elementReference>selectedApexClass</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>providerType</name>
                <value>
                    <elementReference>var_dataProviderType2</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>external_key_text</name>
            <fieldText>&lt;p&gt;You can set an External Key for the child record or leave the field empty&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>set_external_key</name>
            <extensionName>timeline:externalKeyField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_externalKey</assignToReference>
                <name>externalKey</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Apex_Class</name>
        <label>Verify Apex Class</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Apex_Class_Valid</targetReference>
        </connector>
        <fields>
            <name>txt_Select_Apex_Class</name>
            <fieldText>&lt;p&gt;Apex Class Selected: {!selectedApexClass}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cmp_Verify_apex_class</name>
            <extensionName>timeline:verifyApexProvider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApexClass</name>
                <value>
                    <elementReference>selectedApexClass</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>apexClassVerified</assignToReference>
                <name>verified</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_childObjectApiName</assignToReference>
                <name>childObjectName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_relationshipName</assignToReference>
                <name>childRelationshipName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_dateField</assignToReference>
                <name>dateFieldName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_fieldsToDisplay</assignToReference>
                <name>fieldsToDisplay</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_titleField</assignToReference>
                <name>titleFieldName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Step_1_Confirm_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>apexClassVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedApexClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uiApiNotSupported</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_childConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_childObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_dateField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_externalKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_fieldsToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FilterJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_iconImageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_iconName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSOQLVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_objectColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_parentRefFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_relationshipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_selectedFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SOQLWhere</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_titleField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
