force-app/main/default/flows/Add_Child_object_to_Config.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Fields_to_Display_for_Task</name>
        <label>Assign Fields to Display for Task</label>
        <locationX>465</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>var_dateField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ActivityDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_titleField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_fieldsToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_iconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_7_Confirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Object_Task</name>
        <label>Is Object Task</label>
        <locationX>397</locationX>
        <locationY>80</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_childObjectApiName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_3_Select_Title_Field</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_childObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Display_for_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A wizard driven flow to add child object to a timeline configuration.</description>
    <interviewLabel>Add Child object to Config {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Child object to Config</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Timeline_Child_Object</name>
        <label>Create Timeline Child Object</label>
        <locationX>901</locationX>
        <locationY>318</locationY>
        <assignRecordIdToReference>var_childConfigId</assignRecordIdToReference>
        <connector>
            <targetReference>Step_7_Confirm_record_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Field__c</field>
            <value>
                <elementReference>var_dateField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fields_to_Display__c</field>
            <value>
                <elementReference>var_fieldsToDisplay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon_Image_Url__c</field>
            <value>
                <elementReference>var_iconImageUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Icon_Name__c</field>
            <value>
                <elementReference>var_iconName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LWC_Ui_Api_Not_Supported__c</field>
            <value>
                <elementReference>uiApiNotSupported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Color__c</field>
            <value>
                <elementReference>var_objectColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>var_childObjectApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Name__c</field>
            <value>
                <elementReference>var_relationshipName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timeline_Configuration__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Field__c</field>
            <value>
                <elementReference>var_titleField</elementReference>
            </value>
        </inputAssignments>
        <object>Timeline_Child_Object__c</object>
    </recordCreates>
    <screens>
        <name>Step_1_Confirm_Object</name>
        <label>Step 1: Confirm Object</label>
        <locationX>174</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_2_Select_Related_Object</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_1</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_get_object_name</name>
            <extensionName>timeline:getObjectNameFromConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_childObjectApiName</assignToReference>
                <name>objectApiName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2_Select_Related_Object</name>
        <label>Step 2: Select Related Object</label>
        <locationX>289</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Object_Task</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_2</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_select_child</name>
            <extensionName>timeline:selectChildObject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_childObjectApiName</assignToReference>
                <name>childObjectApiName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_relationshipName</assignToReference>
                <name>relationshipName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_3_Select_Title_Field</name>
        <label>Step 3: Select Title Field</label>
        <locationX>544</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_4_Select_Date_Field</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_3</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_title_field</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>var_iconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Title Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_titleField</assignToReference>
                <name>selectedFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uiApiNotSupported</assignToReference>
                <name>uiApiNotSupported</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_4_Select_Date_Field</name>
        <label>Step 4: Select Date Field</label>
        <locationX>657</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_5_Select_Display_Fields</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_4</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_date_field</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Date Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_dateField</assignToReference>
                <name>selectedFields</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_5_Select_Display_Fields</name>
        <label>Step 5: Select Display Fields</label>
        <locationX>798</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_6_Icon_Selection</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_5</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_display_fields</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Display Fields</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_fieldsToDisplay</assignToReference>
                <name>selectedFields</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_6_Icon_Selection</name>
        <label>Step 6: Icon Selection</label>
        <locationX>998</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_7_Confirmation</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_6</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_icon_warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 4, 4);&quot;&gt;Selecting an icon  will override the default icon image for &lt;/span&gt;&lt;b style=&quot;color: rgb(247, 4, 4);&quot;&gt;{!var_childObjectApiName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lwc_icon_name</name>
            <extensionName>timeline:objectIconSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_iconName</assignToReference>
                <name>iconName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7_Confirm_record_creation</name>
        <label>Step 7: Confirm record creation</label>
        <locationX>916</locationX>
        <locationY>483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lwc_progress_8</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_confirmation</name>
            <fieldText>&lt;p&gt;Your&lt;a href=&quot;/{!var_childConfigId}&quot; target=&quot;_blank&quot;&gt; child record configuration &lt;/a&gt;has been created !!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7_Confirmation</name>
        <label>Step 7: Confirmation</label>
        <locationX>998</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Timeline_Child_Object</targetReference>
        </connector>
        <fields>
            <name>lwc_progress_7</name>
            <extensionName>timeline:addChildObjectProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lwc_confirmation</name>
            <extensionName>timeline:selectFieldsForConfig</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childObjectApiName</name>
                <value>
                    <elementReference>var_childObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateField</name>
                <value>
                    <elementReference>var_dateField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>var_fieldsToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconImageUrl</name>
                <value>
                    <elementReference>var_iconImageUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectColor</name>
                <value>
                    <elementReference>var_objectColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipName</name>
                <value>
                    <elementReference>var_relationshipName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <elementReference>var_titleField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>var_iconName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>39</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Step_1_Confirm_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uiApiNotSupported</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_childConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_childObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_dateField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_fieldsToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_iconImageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_iconName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_objectColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_relationshipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_selectedFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_titleField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
